<h1>Exploratory Data Analysis with SQL</h1>

##  Introduction
In this Python Notebook we will:

1. Ecstablish a connection with our database
1. Load the dataset from the table in a MySQL database.
2. Understand the dataset
3. Execute SQL queries to answer the questions listed as Task below in this notebook

## Import Libraries
make sure you have installed all of the libraries listed below before importing them

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector
%matplotlib inline

## Database Connection
create a connection object and a cursor object

In [29]:
try:
    conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database='flaskcrud'
    )
    if conn.is_connected():
        mycur = conn.cursor()
        print("Connected to Database")
except:
    print("Some error occured.")

Connected to Database

## Ways to Run SQL Queries

1. Using Cursor Object
2. Using pandas.read_sql_query

### SELECT query using cursor object
To implement the query with cursor object we run `cursor.execute(query)` which gives cursor object in return and with help of cursor we store the result by running `cursor.fetchall()` or `cursor.fetch()` which ever is required.

In [32]:
mycur.execute('select * from users')
users = mycur.fetchall()
print(type(mycur))
print(users)

<class 'list'>
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
[(2, 'Mukesh Gupta', 'mukesh@gmail.com', 89665436427, '12th'), (4, 'Ranjan Yadav', 'yadav@gmail.com', 584379839390, 'B.Tech'), (5, 'Ankita Sen', 'ankita@gmail.com', 5845793463579634, 'B.com'), (6, 'Vivek Thapar', 'thapar@gmail.com', 87857247584, 'B.com'), (10, 'vimal Anand', 'vimal@gmail.com', 63372818378, 'B.Tech'), (12, 'ramesh kalyan', 'kalyan@gmail.com', 5466778789, 'M.Tech')]

### SELECT query using `pandas.read_sql_query()`
This returns pandas DataFrame

In [31]:
users = pd.read_sql_query('select * from users',conn)
print(type(users))
print(users)

<class 'pandas.core.frame.DataFrame'>
   sno           name             email             phone  degree
0    2   Mukesh Gupta  mukesh@gmail.com       89665436427    12th
1    4   Ranjan Yadav   yadav@gmail.com      584379839390  B.Tech
2    5     Ankita Sen  ankita@gmail.com  5845793463579634   B.com
3    6   Vivek Thapar  thapar@gmail.com       87857247584   B.com
4   10    vimal Anand   vimal@gmail.com       63372818378  B.Tech
5   12  ramesh kalyan  kalyan@gmail.com        5466778789  M.Tech

# About Me

<center>
    <img src="https://media-exp1.licdn.com/dms/image/C5103AQEgE5y5PWLcbA/profile-displayphoto-shrink_800_800/0/1582881994900?e=1650499200&v=beta&t=GU5A3STgP5fUbCZJ2TlFjnsx0qWJzwp3O-UfmdGzEHw" style="width:80px; height:80px; border-radius:40px" alt="picture"/>
    <h3 style="margin-top:5px" ><center>Shiv Prakash</center></h3>
    <p style="margin-top:-5px;" ><center><b>Hi!</b> I'm Shiv Prakash, a guy who is truly in love with creating Ideas and developing Innovations with help of Technology. I'm looking for an opportunity to pursue a challenging career and be a part of progressive organization that gives a scope to enhance my knowledge and utilizing my skills to convert Ideas into innovations towards the growth of the organization.</center></p>
    <div style="margin-top:0px">
        <p><center><b>Connect with me.</b></center></p>
        <div style="display:inline-block;margin-right:5px">
            <a href="https://www.linkedin.com/in/iamshivprakash" style="text-decoration:none; margin-right:5px"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:25px; height:25px"></a>
        </div>
        <div style="display:inline-block;margin-right:5px">
            <a href="https://www.github.com/iamshivprakash" style="text-decoration:none; margin-right:5px"><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" style="width:25px; height:25px"></a>
        </div>
        <div style="display:inline-block;margin-right:5px">
            <a href="https://www.instagram.com/shi_pra_" style="text-decoration:none; margin-right:5px"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" style="width:25px; height:25px"></a>
        </div>
        <div style="display:inline-block;margin-right:5px">
            <a href="https://www.kaggle.com/shivprakash21" style="text-decoration:none; margin-right:5px"><img src="https://storage.googleapis.com/kaggle-avatars/images/default-thumb.png" style="width:30px; height:30px"></a>
        </div>
    </div>
</center>

## Change Log

<div>
    <table>
        <thead>
            <tr>
                <th>Sno</th>
                <th>Version</th>
                <th>Changed By</th>
                <th>Date(DD/MM/YYYY)</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1.0</td>
                <td>Shiv Prakash</td>
                <td>12/12/2021</td>
                <td>Notebook Created</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1.1</td>
                <td>Shiv Prakash</td>
                <td>19/12/2021</td>
                <td>Made Connection with DB and ran some quries</td>
            </tr>
        </tbody>
    </table>    
</div>
<hr>
<p><center>Last Modified by <b>Shiv Prakash</b> on <i>19th December 2021</i></center></p>